In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df.shape

(57650, 4)

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
print(df.columns)

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [10]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [11]:
df.head(10)

,artist,song,text
0,Jimi Hendrix,Fire ( In Album Radio One ),"Dj: \r\n""the jimi hendrix experience sounding..."
1,Donna Summer,I Love You,From my once upon a time album \r\nA song abo...
2,Westlife,How Does It Feel,True lovers never take it slowly \r\nWhen the...
3,Gordon Lightfoot,Ring Them Bells,Ring them bells ye heathen from the city that ...
4,Neil Diamond,I'm Nobody's Fool,"I know your kind, you pick a girl (guy) \r\nT..."
5,U2,Lemon,See through in the sunlight \r\nShe wore lemo...
6,Ella Fitzgerald,Chew Chew Chew (Your Bubble Gum),If you're idle and lonesome too \r\nDon't kno...
7,Offspring,No Hero,Once you said you'd stick to it until the end ...
8,Zero 7,Swing,Thought you'd be forever the same \r\nWhen di...
9,Queen,Somebody To Love,"Can anybody find me somebody to love \r\nOoh,..."

In [12]:
df['text'][0]

'Dj:  \r\n"the jimi hendrix experience sounding off again now,  \r\nWith one of jimi\'s own called \'fire\'"  \r\n  \r\nYou don\'t care for me  \r\nI don\'t care about that  \r\nGotta new fool  \r\nI like it like that  \r\n  \r\nI have only one burnin\' desire  \r\nLet me stand next to your fire  \r\nLet me stand next to your fire  \r\nLet me stand baby  \r\nLet me stand next to your fire  \r\nOh, ley me stand  \r\nLet me stand next to your fire  \r\nYou got to let me stand  \r\nLet me stand next to your fire  \r\nOh shucks  \r\nYeah  \r\n  \r\nYou say your mom ain\'t home, you can\'t let me in  \r\nWell, I had to before I don\'t need you again  \r\n  \r\nI have only one burnin\' desire  \r\nLet me stand next to your fire  \r\nLet me stand next to your fire  \r\nYeah, let me stand baby  \r\nLet me stand next to your fire  \r\nOh, let my stand  \r\nLet me stand next to your fire  \r\nLet me stand  \r\nLet me stand next to your fire  \r\n  \r\nAh yeah move over rover  \r\nAnd let jimi take over  \r\nYeah you know wayt I\'m talking \'bout  \r\n  \r\nThat\'s what I\'m talking about  \r\nYou try to gimmie your money  \r\nYou better save it babe  \r\nSave it for your rainy day  \r\n  \r\nI have only one A burnin\' desire  \r\nLet me stand next to your fire  \r\nLet me stand next to your fire  \r\nYeah let me stand  \r\nLet me stand next to your fire  \r\nOh, let me stand  \r\nLet me stand next to your fire  \r\nYou know what I\'m talken about\r\n\r\n'

In [13]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ', regex = True)

In [15]:
df.tail(5)

,artist,song,text
4995,Garth Brooks,Mom,"a little baby told god, \r 'hey, i'm kinda sc..."
4996,Bob Dylan,"It Ain't Me, Babe",go 'way from my window \r leave at your own c...
4997,Depeche Mode,Nothing,sitting target \r sitting waiting \r anticip...
4998,Zeromancer,Dr. Online,everybody online? \r it's the beginning of th...
4999,Christina Aguilera,That's What Love Can Do,i wanted a lover \r to show me the way love g...

In [16]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/agnikdutta/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [17]:
stemmer = PorterStemmer()

In [18]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [19]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [20]:
 df['text'].apply(lambda x: token(x))

0       dj : `` the jimi hendrix experi sound off agai...
1       from my onc upon a time album a song about two...
2       true lover never take it slowli when they 've ...
3       ring them bell ye heathen from the citi that d...
4       i know your kind , you pick a girl ( guy ) the...
                              ...
4995    a littl babi told god , 'hey , i 'm kinda scar...
4996    go 'way from my window leav at your own chosen...
4997    sit target sit wait anticip noth noth life is ...
4998    everybodi onlin ? it 's the begin of the end y...
4999    i want a lover to show me the way love goe to ...
Name: text, Length: 5000, dtype: object

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [23]:
matrix = tfid.fit_transform(df['text'])

In [24]:
similar = cosine_similarity(matrix)

In [25]:
similar[0]

array([1.        , 0.02387092, 0.03013803, ..., 0.0028391 , 0.00846778,
       0.03831665])

In [26]:
df[df['song'] == 'Mom'].index[0]

4995

Recommender Function

In [38]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    song = []
    for s_id in distance[1:21]:  # skipping 0 as it will be the same song
        song.append(df.iloc[s_id[0]].song)
    return song

In [47]:
recommender("It Ain't Me, Babe")

["I'll Be There",
 "Don't Think Twice, It's Alright",
 'My World Is Empty Without You',
 "Don't Think Twice, It's All Right",
 "Daddy's Back",
 'I Never Cry',
 "Ain't No Mountain High Enough",
 'Jelly Roll',
 'One Fine Day',
 "I Won't Cry For You",
 'No Fun',
 'To Love Somebody',
 'Give You My Lovin',
 'I Think I Love You Too Much',
 'Chivas',
 'One Word',
 'Badass',
 "Good Lookin' Man",
 'Nothin On You',
 'Come Closer To Me Babe']

In [48]:
import pickle
pickle.dump(similar, open("similarity.pkl", "wb"))
pickle.dump(df, open("df.pkl", "wb"))